html {
	font-family: Trebuchet MS;
	background-color: #8C5A5A;
	text-align: justify;
}

a {
	display: inline;
	vertical-align: top;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #AB2240 !important;
}

.clear {
	clear: both;
}
