@import 'variables.scss';

.header {
	width: $page-width;
	border-style: solid;
	border-radius: 10px;
	border-width: 15px;
	border-color: #FAFAFA;
	background: #FAFAFA;
	float: left;

	.logo-left {
		width: 300px;
		float: left;
	}

	.title-right {
		width: auto;
		float: right;
	}

	.menuContainer {
		width: $page-width;
		float: left;
		text-align: left;
		border-radius: 5px;
		border: 1px solid $theme-color;
		background: $theme-color;
		background-image: linear-gradient(to bottom, $theme-color, $theme-color);
		box-shadow: 0px 1px 3px $shadow-color;
		margin-top: 10px;

		.menu {
			width: $page-width - 50px;

			ul {
				margin: auto;
				display: table;
				table-layout: fixed;

				li {
					position: relative;
					list-style-type: none;
					margin: 10px;
					display: inline-block;

					a {
						color: white;
						padding: 7px;
						text-shadow: 0px -1px 0px $shadow-color;
						text-align: center;
						font-size: 14pt;
						text-decoration: none;
						width: auto;
						border: 1px solid transparent;
					}

					ul {
						padding: 0;
						position: absolute;
						left: 0;
						width: 220px;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						display: none;
						opacity: 0;
						visibility: hidden;

						li {
							display: block;
							width: 203px;
							padding: 0;
							margin: 0;
							border: 1px solid transparent;
							border-radius: 5px;

							a {
								text-decoration: none;
								color: white;
								text-shadow: 0px -1px 0px $shadow-color;
								text-align: left;
								display: block;
								padding-left: 10px;
								padding-top: 10px;
								padding-bottom: 10px;
								font-size: 13pt;
							}
						}
					}

					&:hover > a {
						background: $theme-color-highlight;
						border-style: solid;
						border-radius: 5px;
						border: 1px solid transparent;
						background-image: linear-gradient(to bottom, $theme-color-highlight, $theme-color-highlight);
						text-decoration: none;
					}

					&:hover ul {
						display: block;
						width: 205px;
						background: $theme-color;
						border: 1px solid transparent;
						border-radius: 5px;
						margin-top: 8px;
						left: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}