@import 'variables.scss';

.bodyContainer {
	width: $page-width;
	height: 90%;
	margin: auto;

	.mainBody {
		width: $page-width;
		margin-top: 25px;
		margin-bottom: 45px;
		border-style: solid;
		border-radius: 10px;
		border-width: 15px;
		border-color: #FAFAFA;
		background-color: #FAFAFA;
		float: left;
	
		#mainText {
			width: 2/3*$page-width;
			margin: auto;
	
			h1 {
				text-align: center;
			}
	
			h2 {
				text-align: left;
				font-size: 20px;
			}
		}
	}
}
