{% extends "base.html" %}
{% block title %}ISCA{% endblock %}
{% block content %}
	<div class="bodyContainer">

		{% include 'header.html' %}

		<div class="mainBody">
			<div id="mainText">
				<h1>Membership</h1>
				<h4>
				<br>
				</h4>
				<h4>
					<a rel="nofollow" target="_blank" href="http://isca-hq.org/Documents/ISCA%20MEMBERSHIP%20APPLICATION.pdf">Regular MEMBERSHIP APPLICATION (PDF)</a>
				</h4>
				<h4>
					<span class="wysiwyg-font-size-xx-small"></span>
						<a rel="nofollow" target="_blank" href="http://isca-hq.org/Documents/CORPMember.pdf">Corporate MEMBERSHIP APPLICATION (PDF)</a>
				</h4>
				<br>
				<p>Regular Membership - $ 100.00 (U.S.)<br></p>
				<p>ISCA Regular Membership includes a subscription to our Journal, reduced rates on all conferences and proceedings, participation in the Society's activities and committees, waiver of Journal page fees, and the right to vote and hold office.&nbsp;<br>&nbsp;</p>
				<p>Corporate Membership includes a subscription to our Journal.</p>
				<p>Membership in ISCA involves an annual non-refundable fee.&nbsp;&nbsp; Membership fees may be paid by check (in U.S. dollars drawn on a U.S. Bank), International Money Order.&nbsp;&nbsp; Make your check or Money Order payable to ISCA.&nbsp;&nbsp; Send your check and completed application form to:</p>
				<blockquote>
					<blockquote>
						<div>
							<span class="wysiwyg-font-size-small">ISCA - Membership
								<br>ISCA, P.O. Box - 1124, Winona, MN 55987, USA
								<br>Phone: (507) 458-4517
								<br>E-mail: isca@isca-hq.org
							</span>
							<br>&nbsp;
						</div>
					</blockquote>
				</blockquote>
				<p>For further information contact:&nbsp;
					<a> rel="nofollow" target="_blank">isca@isca-hq.org</a>
				</p>
			</div>
		</div>

		<div class="clear"></div>

		{% include 'footer.html' %}

	</div>
{% endblock %}