<div class="header">
  <div class="logo-left">
    <a href="index.html">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
    </a>
  </div>

  <div class="title-right">
    <a href="index.html">
      <h4>International Society for Computers and their Applications</h4>
    </a>
  </div>

  <div class="clear"></div>

  <div class="menuContainer">
    <div class="menu">
      <ul>

        <li><a href="index.html">Home</a></li>

        <li>
          <a href="">About</a>
          <ul>
            <li><a href="letter_president.html">Letter from the president</a></li>
            <li><a href="board_of_directors.html">Board of Directors</a></li>
          </ul>
        </li>

        <li>
          <a href="">Membership</a>
          <ul>
            <li><a href="senior_membership.html">Senior membership</a></li>
            <li><a href="basic_membership.html">Basic membership</a></li>
          </ul>
        </li>

        <li><a href="conferences.html">Conferences</a></li>

        <li>
          <a href="">Materials</a>
          <ul>
            <li><a href="journal.html">Journal</a></li>
            <li><a href="proceedings.html">Proceedings</a></li>
          </ul>
        </li>

        <li><a href="">Contact</a></li>

      </ul>
    </div>
  </div>
</div>