{% extends "base.html" %}
{% block title %}ISCA{% endblock %}
{% block content %}
	<div class="bodyContainer">

		{% include 'header.html' %}

		<div class="mainBody">
			<div id="mainText">
				<h1>ISCA</h1>
				<h2>Our Mission</h2>

				<p>The International Society for Computers and Their Applications, Inc., promotes the advancement of science and engineering in the area of computers and their applications, and disseminates this technology throughout the world.</p>

				<p>In its practices, the ISCA does not discriminate on the basis of race, color, religion, sex, or national origin.</p>

				<p>ISCA (International Society for Computers and Their Applications) is a not-for-profit society.</p>

				<p>All published papers have been peer reviewed. <br />
				Publications are abstracted and indexed in INSPEC.</p>

				<br />

			</div>
		</div>

		<div class="clear"></div>

		{% include 'footer.html' %}

	</div>
{% endblock %}