{% extends 'base.html' %}
{% block title %}ISCA | Admin {% endblock %}
{% block content %}
<div class="loginForm">
  <h1 class="title">Admin</h1>
  <form method="POST" action="/login">
    <div class="control">
      <input type="username" name="username" placeholder="Your Username" autofocus="">
    </div>

    <div class="control">
      <input class="input is-large" type="password" name="password" placeholder="Your Password">
    </div>
    
    <button>Login</button>
  </form>
</div>
{% endblock %}