{% extends 'base.html' %}
{% block title %}Contact messages{% endblock %}
{% block content %}
<div class="bodyContainer">

	{% include 'header.html' %}

	<div class="mainBody">
		<div id="mainText">

			{% if content.name %}
			<h1>Welcome {{ content.name }}</h1>
			{% endif %}

			{% if content.contact %}
				{% for current in content.contact %}
					<h2>NAME: {{ current.name }}</h2>
					<p>EMAIL: {{ current.email }}</p>
					<p>MESSAGE: {{ current.message }}</p>
					<p>AREA OF CONCERN : {{ current.emailto }}</p>
					<br>
				{% endfor%}
			{% endif %}

		</div>
	</div>

	<div class="clear"></div>

	{% include 'footer.html' %}

</div>
{% endblock %}