{% extends "base.html" %}
{% block title %}ISCA{% endblock %}
{% block content %}
	<div class="bodyContainer">

		{% include 'header.html' %}

		<div class="mainBody">
			<div id="mainText">
				<h1>Senior Member Program</h1>
				<h2>Intent</h2>
				<span>The Senior Member Program acknowledges and rewards society members, who have demonstrated both long-term dedication and professional accomplishment in the society and their profession, through elevation of their membership to Senior status
				<br>
				</span>
				<h2>Benefits</h2>
				<ul>
					<li>Recognition of one's peers for professional and technical excellence.</li>
					<li>Letter of commendation to your employer describing the award and its basis (upon request of awardee).</li>
					<li>Signed Certificate of Achievement.</li>
					<li>Senior Member Pin.</li>
					<li>Announcement of membership elevation at an annual society meeting of members.</li>
					<li>Sponsorship entitlements for new Senior Member candidates.</li>
					<li>Senior Member status recognition at society functions.</li>
				</ul>
				<h2>
					<b>Requirements</b>
				</h2>
				<ul>
					<li>Ten (10) total years of ISCA membership.</li>
					<li>Two (2) Senior Member Sponsorships.</li>
					<li>Significant society contributions.</li>
					<li>Significant professional performance (technical/management).</li>
					<li>Provision of application materials</li>
				</ul>
				<h1>Procedure</h1>
				<br>ISCA Senior Member Application Form
				<br>
				<ul>
					<li>Resume.</li>
					<li>List of Society Contributions.</li>
					<li>Summary of significant professional performance.</li>
					<li>Names of the two (2) Senior Members who are to act as sponsors.</li>
				</ul>
				<br>
				<br>
				<p>Attn. Senior Member Program</p>
				The ISCA Board of Directors will review the composite materials and determine the acceptance of your application. This will be completed at the next Board Meeting following the receipt of your complete materials. You will then be notified, and the new Senior Members will be announced/welcomed at the ISCA CATA (Computers and Their Applications) Conference, held each spring.
				<br>
				<br>
				<p>
					<a rel="nofollow" target="_blank" href="http://isca-hq.org/Documents/SeniorMemberForm.pdf">ISCA Senior Member Sponsor Form</a>
				</p>

			</div>
		</div>

		<div class="clear"></div>

		{% include 'footer.html' %}

	</div>
{% endblock %}